@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 62.5%;
    font-family: 'Libre Franklin', sans-serif;
}

.nav{
    display: flex;
    justify-content: center;
    width: 50rem;
    margin: 3% auto;
}

.container{
    width: 50rem;
    margin: 0 auto;
    padding: 0 3rem;
}

.main-text{
    text-align: center;
    margin: 2rem 0;
}

.heading{
    font-size: 2.6rem;
    font-weight: 300;
    margin-bottom: 1rem;
    color: hsl(0, 0%, 59%)
}

.heading span{
    color: hsl(209, 33%, 12%);
    font-weight: 700;
}
.main-para{
    font-size: 1rem;
    color: hsl(0, 0%, 59%)
}

.email{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

#email{
    width: 50%;
    padding: .8rem;
    border-radius: 25px;
    border: .5px solid hsl(223, 100%, 88%);
    color: hsl(223, 100%, 88%);
}

.email-error{
    margin-top: .5rem;
    font-size: .8rem;
    font-weight: 600;
    color: hsl(354, 100%, 66%);
    text-align: center;
}

.email-sucess{
    margin-top: .5rem;
    font-size: .8rem;
    font-weight: 600;
    color: green;
    text-align: center;
}

.subscribe{
    margin-bottom: 5rem;
}

input::placeholder{
    text-align: left;
    color: hsl(223, 100%, 88%);
    padding-left: 0;
}
.btn{
    padding: .8rem 2rem;
    border-radius: 25px;
    border: none;
    color: #fff;
    background-color: hsl(223, 87%, 63%);
    cursor: pointer;
}

.main-img{
    width: 100%;
    margin-bottom: 3rem;
}

.footer{
    text-align: center;
    margin: 2rem 0;
}

.social{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    margin-bottom: 2rem;
}

.icon{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 1px solid hsl(223, 100%, 88%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-item{
    width: 1rem;
    height: 1rem;
}


@media only screen and (max-width: 700px){
    .nav{
        margin-top: 3rem;
    }
    .email{
        flex-direction: column;
    }
    .btn{
        width: 50%;
    }
}